
.dgreenpallete
{
    color: #102820;
    color: #4c6444;
    color: #caba9c;
    color: #8a6240;
    color: #4d2d18;
}

.darkmodepallete
{

    color: #4f4f4c;
    color: #f8f7dd;
    color: #dcd7c2;
    color: #c7c0a7;
    color: #95907f;
}

.greendarkwhite {

    color: #3b3b3b;
    color: #2f502c;
    color: #ecebe7;
}
